<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Pruebas_Paty" connectionString="Server=LAPTOP-PATY;Database=Pruebas_Paty;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="contabilidad" connectionString="Server=LAPTOP-PATY;Database=contabilidad;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>